<!DOCTYPE html>
<html>
<head>
		{% load static %}

	<title>Solace</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'main/search_box.css' %}">
	<link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class = "outer_div">
		<p class = "search_box_div_para">Solace</p>
		<a href = "/search" class = "row search_box">
			<div class = "col-md-10 search_box_fake_search_box">Click here to Continue</div>
			<div class = "col-md-2 search_box_fake_search_box_search_button">
				<i class = "fa fa-search search_icon"></i>
				Calculate		
			</div>
		</a>
		<br/>
		<div class="col-md-12" style="text-align:center;">Running Simulations in Cloud</div>
	</div>
</body>
</html>